@model IEnumerable<Festispec.Web.Models.InspectionViewModel>

<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
    <div class="list-group">
        <!-- Items in the list of inspections. -->
        @foreach (var tmp in Model)
        {
        <div class="list-group-item">
            <h1>@tmp.Name</h1>
            <h7>@tmp.Municipality</h7>
            <h7>@tmp.PostalCode</h7>
            <h7>@tmp.Street</h7>
            <h5>@tmp.StartDate - @tmp.EndDate</h5>
        </div>
        }

    </div>
</div>