@using Festispec.Domain
@model Festispec.Domain.Planning

@*@using (Html.BeginForm("Inspect", "Inspection", FormMethod.Post)) {*@
<form id="inspectionForm"  method="post">

    @foreach (var inspectionQuestion in Model.Inspection.InspectionQuestion)
    {
        var inspectionQuestionAnswer = Model.InspectionQuestionAnswer
            .Where(answer => answer.Inspection_Id == inspectionQuestion.Inspection_Id && answer.Inspector_Id == Model.Inspector_Id && answer.Question_Id == inspectionQuestion.Question_Id && answer.Date == Model.Date)
            .DefaultIfEmpty(new InspectionQuestionAnswer {Inspection_Id = inspectionQuestion.Inspection_Id, Inspector_Id = Model.Inspector_Id, Question_Id = inspectionQuestion.Question_Id, Date = Model.Date, Answer = ""})
            .First();

        <div class="row">
            <h3>@inspectionQuestion.Question.Name</h3>
            <p>@inspectionQuestion.Question.Description</p>
            @switch (inspectionQuestion.Question.QuestionType_Type)
            {
                case "Beeld":
                    break;
                case "Getal":
                    <input type="text" onkeypress="return event.charCode >= 48 && event.charCode <= 57" name="answers" data-question-id="@inspectionQuestion.Question_Id" data-question-type="@inspectionQuestion.Question.QuestionType_Type" />
                    break;
                case "Reeks":
                    <div name="answers" data-question-id="@inspectionQuestion.Question_Id" data-question-type="@inspectionQuestion.Question.QuestionType_Type">
                        @for (int i = 1; i < 11; i++)
                        {
                            <label> <input name="radio-@inspectionQuestion.Question_Id" type="radio" value="@i">@i</label>
                        }
                    </div>
                    break;
                case "Tabel":
                    <table name="answers" class="table table-bordered table-striped table-responsive" data-question-id="@inspectionQuestion.Question_Id" data-question-type="@inspectionQuestion.Question.QuestionType_Type">
                        <thead>
                            <tr>
                                <th>@inspectionQuestion.Question.MetadataParameter1</th>
                                <th>@inspectionQuestion.Question.MetadataParameter2</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int j = 0; j < 4; j++)
                            {
                                <tr>
                                    <td>
                                        <input type="text" class="form-control">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control">
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    break;
                case "Tekst":
                    <textarea name="answers" data-question-id="@inspectionQuestion.Question_Id" data-question-type="@inspectionQuestion.Question.QuestionType_Type">@inspectionQuestionAnswer.Answer</textarea>
                    break;
            }
        </div>
    }

    <input type="submit" value="versturen" />

</form>


<script>
    var inspectionForm = document.getElementById('inspectionForm');
    inspectionForm.addEventListener('submit', function (event) {
        event.preventDefault();

        // Get all answer elements
        var elements = inspectionForm.querySelectorAll('[name="answers"]');

        // Create dictionary
        var data = new Object();

        // Loop through the answer elements
        for (var i = 0, l = elements.length; i < l; i++) {
            var element = elements[i];
            var questionId = element.dataset.questionId;

            // Add the parsed answer from the element to the answers dictionary on the question id index
            //answers[questionId] = parseElementAnswer(element);

            data[`answers[${i}].Key`] = questionId;
            data[`answers[${i}].Value`] = parseElementAnswer(element);
        }


        $.post('/Inspection/Inspect/@Model.Inspection_Id/@Model.Date.ToString("yyyy-MM-dd")', data);
    });

    function parseElementAnswer(element) {
        var questionType = element.dataset.questionType;
        var answer;
        switch (questionType) {
            case "Getal":
            case "Tekst":
                answer = element.value;
                break;
            case "Reeks":
                answer = parseReeksAnswer(element);
                break;
            case "Tabel":
                answer = parseTableAnswer(element);
        }
        return answer;
    }

    function parseReeksAnswer(element) {
        var questionId = element.dataset.questionId;
        var reeks = element.querySelectorAll(`[name="radio-${questionId}"]`);

        return getSelectedRadioButton(reeks);
    }

    function parseTableAnswer(element) {
        var questionId = element.dataset.questionId;
        var tableRows = element.querySelectorAll('tbody tr');

        var tableAnswers = [];

        for (var i = 0, l = tableRows.length; i < l; i++) {
            var tableRow = tableRows[i];
            var tableColumnInputs = tableRow.querySelectorAll('td input');

            var column1 = tableColumnInputs[0].value;
            var column2 = tableColumnInputs[1].value;

            tableAnswers.push({ column1, column2 });
        }

        return JSON.stringify(tableAnswers);
    }

    function getSelectedRadioButton(radioButtons) {
        for (var i = 0, l = radioButtons.length; i < l; i++) {
            var radioButton = radioButtons[i];
            if (radioButton.checked) {
                return radioButton.value;
            }
        }
        return '';
    }
</script>