
@{
    ViewBag.Title = "AddAvailability";
}

@model Festispec.Domain.Schedule

<h2>Beschikbaarheid toevoegen</h2>

<div class="container">
    @using (Html.BeginForm("Create", "Schedule"))
    {
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label>Niet beschikbaar vanaf:</label>
            @Html.EditorFor(m => m.NotAvailableFrom, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.NotAvailableFrom, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <label>Niet beschikbaar tot:</label>
            @Html.EditorFor(m => m.NotAvailableTo, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.NotAvailableTo, "", new { @class = "text-danger" })
        </div>

            <input type="submit" class="btn btn-info" value="Toevoegen">
            <a href="InspectorSchedule" class="btn btn-info" role="button">Ga Terug</a>
    }
</div>





